html {
  background-image: url("img/abstract-digital-grid-black-background_53876-97647\ -\ Copy.avif");
}

body {
  background-color: rgba(255, 255, 255, 0.9);
  width: 600px;
  margin: 25px auto;
  padding: 25px 150px 50px;
  border-radius: 25px;
  border-image-width: 20px;
}

h1,
h2 {
  font-family: sans-serif;
  letter-spacing: 2px;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
  text-align: center;
}
h2 {
  margin-top: 50px;
  color: rgb(0, 0, 0);
}

button {
  background-color: gray;
  size: 23px;
  margin: 10px;
}

button:hover {
  background-color: green;
}
